body {
    background: #f7f7f7;
}

/*全局Css样式*/
.len-link-all {
    color: #000;
}

:root {
    --animate-duration: 0.5s;
}

img[data-src]:not(.loaded) {
    filter: blur(10px) brightness(1);
    object-fit: contain;
}

img[data-src].error {
    filter: none;
}

img {
    -webkit-transition: filter 375ms ease-in .2s, -webkit-transform .6s;
    -moz-transition: filter 375ms ease-in .2s, -moz-transform .6s;
    -o-transition: filter 375ms ease-in .2s, -o-transform .6s;
    -ms-transition: filter 375ms ease-in .2s, -ms-transform .6s;
    transition: filter 375ms ease-in .2s, transform .6s;
}

.bady-background-block {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

.len-content {
    margin-bottom: 10px;
}

.len-content-min {
    display: flex;
}

.len-left-sidebar {
    max-width: 250px;
    width: 250px;

    position: relative;
}

.len-body-main {
    margin-left: auto;
    margin-right: auto;
    width: 1350px;
    /* margin-top: 20px; */
    position: relative;
    top: 20px;
}

.len-showcase-main {
    width: 830px;
    padding: 10px;
    padding-top: 0px;
    min-height: 800px;
}


/*展示块Banner导航样式*/
.banner-nav-ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 50px;
    box-shadow: inset 0 0 2px #c5c5c5d1;
    backdrop-filter: saturate(200%) blur(30px);
    background-color: hsl(0deg 0% 100% / 50%);
    border-radius: 10px;
}

.banner-nav-li {
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
}

.banner-nav-a-links {
    color: var(--len-a-link-color);
}


.len-banner-nav-icon {
    height: 15px;
    width: 15px;
    padding: 0px 2px;
    vertical-align: -1px;
}

.len-showcase-banner-nav-blcok {
    padding-bottom: 10px;
}



/*幻灯片区块css*/
.swiper {
    width: 100%;
    height: 300px;
    border-radius: 15px;
}

.len-swipre.swiper-commend-title {
    display: flex;
    align-items: center;
    padding: 10px 0px;
    color: white;
}

.len-swiper.swiper-content {
    color: #a5a5a5;
    font-size: 16px;
    font-weight: 700;
}

.len-swiper.swiper-commend {
    padding: 2px;
    margin: 2px;
    background: #f05050;
    font-weight: 700;
    border-radius: 5px;

    font-size: 14px;
}

.len-swiper-slide-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.len-swiper-content-background {
    position: fixed;
    max-width: 90%;
    width: 100%;
    bottom: 0;
    padding: 3% 5% 2% 5%;
    background: linear-gradient(180deg, hsl(0deg 3.64% 68.62% / 0%), hsl(0deg 0% 100% / 100%) 100%, #d4d4d4);
}

.len-swiper-block-min {
    margin-bottom: 20px;
}

/*文章展示css*/
.len-left-post-icon {
    height: 18px;
    width: 18px;
    vertical-align: -5px;
}

.name-text-block::after {
    content: "";
    padding: 5px 7px;
    position: relative;
    right: 40px;
    top: -3px;
    border-bottom: 3px solid #dfdfdf;
    transition: padding 0.3s ease, border-color 0.3s ease;
}

.len-classify-box-blcok {
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

.len-links-post:hover .len-classify-box-blcok {
    position: absolute;
    left: -20px;
    font-size: 14px;
    top: 20px;
    border-radius: 5px 0px 0px 5px;
    z-index: 1;
    background: linear-gradient(180deg, hsl(165.05deg 20.7% 89.67%), hsl(176.12deg 71.91% 84.3% / 95%) 85%, #ccecdc);
    display: block;
    opacity: 1;

}

.len-links-post:hover .len-classify-title-blcok {
    padding: 5px;
    display: block;
}



.len-top-title-blcok {
    position: absolute;
    top: -5px;
    color: white;
    right: -20px;
    padding: 2px;
    margin: 2px;
    background: #f05050;
    font-weight: 700;
    border-radius: 5px;
    font-size: 14px;
}

.len-classify-title-blcok {

    display: none;
}

.name-text-block:hover::after {
    content: "";
    padding: 5px 25px;
    position: relative;
    right: 40px;
    top: -3px;
    border-bottom: 3px solid #8b908f99;
}

.thumbnail-background-min {
    height: 90%;
    object-fit: cover;
    border-radius: 5px;
    width: 200px;
}

.len-post-block {
    height: 150px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    background: white;
    box-shadow: 0 0 10px rgb(216 216 216 / 80%);
    border-radius: 15px;
    margin-bottom: 20px;
}

.len-post-thumbnail-blcok {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
}



.len-post-content-block {
    max-width: 70%;
    margin-left: 30px;
    width: 100%;
    position: relative;
    padding: 10px 0px 0px 0px;
}

.len-post-title-block {
    padding: 0px 0px 10px 0px;
    font-size: 21px;
    height: 20px;
    overflow: hidden;
}

.len-post-part-block {
    padding: 5px 0px 0px 0px;
    font-size: 14px;
    height: 38px;
    overflow: hidden;
}

.len-like-comments-browse-avatar-name-time-block-min {
    display: flex;
    height: 25px;
    padding: 5px;
    background: #f2f2f2;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: var(--shadow);
    justify-content: space-between;
}

.len-avatar-block-min {
    height: 100%;
}

.avatar-background-block {
    height: 25px;
    border-radius: 100%;
}

.name-text-block {
    padding: 2px 5px;
}

.len-post-statistics-block>div {
    margin: 2px 7px;
}

.len-post-statistics-user,
.len-post-statistics-block {
    display: flex;
    align-items: flex-end;
    font-size: 14px;
}





@keyframes to-top {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    100% {
        transform: translateY(100%);
        opacity: 1;
    }
}

@keyframes to-left {
    0% {
        transform: translatex(230%);
        opacity: 1;
    }

    100% {
        transform: translatex(0);
        opacity: 1;
    }
}

@keyframes to-right {
    10% {
        transform: translatex(0);
        opacity: 1;
    }

    100% {
        transform: translatex(-150%);
        opacity: 1;
    }
}

@keyframes showtime {
    0% {
        transform: translatex(250%);
        opacity: 1;
    }

    100% {
        transform: translatex(0%);
        opacity: 1;
    }
}

@keyframes hidetime {
    0% {
        transform: translatex(0%);
        opacity: 1;
    }

    100% {
        transform: translatex(-370%);
        opacity: 1;
    }
}

@media (max-width:375px) {
    .month-list>div {

        margin: 5px 0px;
    }
}

.ico-0009 {
    float: right;
}

ul.len-nav-ul-second {
    display: none;
}

/*首页分页样式*/
.len_post_page_block_all {
    display: flex;
    justify-content: center;
    backdrop-filter: saturate(200%) blur(30px);
    background-color: hsl(0deg 0% 100% / 50%);
    border-radius: 15px;
    padding: 15px;
}

span.page-numbers.current {
    color: #8483d3;
    background: #9796f066;
}

.page-numbers {
    padding: 10px 15px 10px;
    border-radius: 5px;
    background: #eff2ff;
    color: #868787;
}

.len-post-ajax-button {
    background: aliceblue;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 2%;
    border-radius: 10px;
}

.len-post-block-min {
    border: none;
    background: #fbfbfb00;
    font-size: 16px;
}