body {
    background: #f7f7f7;
}

/*全局Css样式*/
.len-link-all {
    color: #000;
}

img[data-src]:not(.loaded) {
    filter: blur(10px) brightness(1);
    object-fit: contain;
}

img[data-src].error {
    filter: none;
}

img {
    -webkit-transition: filter 375ms ease-in .2s, -webkit-transform .6s;
    -moz-transition: filter 375ms ease-in .2s, -moz-transform .6s;
    -o-transition: filter 375ms ease-in .2s, -o-transform .6s;
    -ms-transition: filter 375ms ease-in .2s, -ms-transform .6s;
    transition: filter 375ms ease-in .2s, transform .6s;
}

.bady-background-block {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

.len-content {
    margin-bottom: 10px;
}

.len-content-min {
    display: flex;
}

.len-left-sidebar {
    max-width: 250px;
    width: 250px;

    position: relative;
}

.len-body-main {
    margin-left: auto;
    margin-right: auto;
    width: 1350px;
    /* margin-top: 20px; */
    position: relative;
    top: 20px;
}

.len-showcase-main {
    width: 830px;
    padding: 10px;
    padding-top: 0px;
}

.len-right-sidebar {
    max-width: 250px;
    width: 250px;
}

.information-background {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.user-background-image {
    height: 100px;
    width: 250px;
}

.len-sidebar-user-information {
    background-color: white;
    margin-bottom: 10px;
}

.user-avatar {
    height: 75px;
    width: 75px;
    border-radius: 100%;
    box-shadow: 2px 2px 3px #e1e1e1;
    position: relative;
    top: -40px;
}

.information-avatar {
    width: 60px;
    height: 60px;

}

.user-name-avatar {
    margin: 0px 20px;
    display: flex;
}

.user-name-word {
    padding: 10px;
    width: 130px;
    text-align: center;
}

.user-word-title {
    font-size: 12px;
}

/* .user-biography {
    height: 80px;
} */

/*左侧边栏导航css*/
.len-sidebar-nav {
    background: white;
    padding: 10px 10px;
}

.len-nav-li-first {
    margin: 10px 20px;
    font-size: 14px;
    color: #919191;
}

li>.iconfont {
    padding: 5px;
}

.links-svg-block>.iconfont {
    font-size: 20px;
    padding: 10px;
    color: black;
}

.len-nav-link-block {
    color: #919191;
}

.len-sidebar-links {
    height: 35px;
    position: absolute;
    width: 215px;
    bottom: 0px;
    border-radius: 10px;
    right: 20px;
    left: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: white;
}

.len-left-bottom-icon {
    height: 20px;
    width: 30px;
    padding: 0px 5px;
    vertical-align: -4px;
}

.len-left-nav-icon {
    height: 15px;
    width: 15px;
    padding: 0px 2px;
    vertical-align: -4px;
}



/*展示块Banner导航样式*/
.banner-nav-ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 50px;
    box-shadow: inset 0 0 2px #c5c5c5d1;
    backdrop-filter: saturate(200%) blur(30px);
    background-color: hsl(0deg 0% 100% / 50%) !important;
    border-radius: 10px;
}

.banner-nav-li {
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
}

.banner-nav-a-links {
    color: var(--len-a-link-color);
}

/* 后期要用到的玩意 */
/* .banner-nav-li::after {
    content: "";
    padding: 5px 7px;
    position: absolute;
    left: 15px;
    bottom: 6px;
    border-bottom: 3px solid #6fa97e;
    transition: padding 0.3s ease, border-color 0.3s ease;
}

.banner-nav-li:hover::after {
    content: "";
    padding: 5px 30px;
    position: absolute;
    left: 15px;
    bottom: 6px;
    border-bottom: 3px solid #8b908f99;
} */

.len-banner-nav-icon {
    height: 15px;
    width: 15px;
    padding: 0px 2px;
    vertical-align: -1px;
}

.len-showcase-banner-nav-blcok {
    padding-bottom: 10px;
}



/*幻灯片区块css*/
.swiper {
    width: 100%;
    height: 300px;
    border-radius: 15px;
}

.len-swipre.swiper-commend-title {
    display: flex;
    align-items: center;
    padding: 10px 0px;
    color: white;
}

.len-swiper.swiper-content {
    color: #a5a5a5;
    font-size: 16px;
    font-weight: 700;
}

.len-swiper.swiper-commend {
    padding: 2px;
    margin: 2px;
    background: #f05050;
    font-weight: 700;
    border-radius: 5px;

    font-size: 14px;
}

.len-swiper-slide-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.len-swiper-content-background {
    position: fixed;
    max-width: 90%;
    width: 100%;
    bottom: 0;
    padding: 3% 5% 2% 5%;
    background: linear-gradient(180deg, hsl(0deg 3.64% 68.62% / 0%), hsl(0deg 0% 100% / 100%) 100%, #d4d4d4);
}

.len-swiper-block-min {
    margin-bottom: 20px;
}

/*文章展示css*/
.len-left-post-icon {
    height: 18px;
    width: 18px;
    vertical-align: -5px;
}

.name-text-block::after {
    content: "";
    padding: 5px 7px;
    position: relative;
    right: 40px;
    top: -3px;
    border-bottom: 3px solid #dfdfdf;
    transition: padding 0.3s ease, border-color 0.3s ease;
}

.len-classify-box-blcok {
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

.len-links-post:hover .len-classify-box-blcok {
    position: absolute;
    left: -20px;
    font-size: 14px;
    top: 20px;
    border-radius: 5px 0px 0px 5px;
    z-index: 1;
    background: linear-gradient(180deg, hsl(165.05deg 20.7% 89.67%), hsl(176.12deg 71.91% 84.3% / 95%) 85%, #ccecdc);
    display: block;
    opacity: 1;

}

.len-links-post:hover .len-classify-title-blcok {
    padding: 5px;
    display: block;
}

.len-classify-title-blcok {

    display: none;
}

.name-text-block:hover::after {
    content: "";
    padding: 5px 25px;
    position: relative;
    right: 40px;
    top: -3px;
    border-bottom: 3px solid #8b908f99;
}

.thumbnail-background-min {
    height: 90%;
    object-fit: cover;
    border-radius: 5px;
    width: 200px;
}

.len-post-block {
    height: 150px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    background: white;
    box-shadow: 0 0 10px rgb(216 216 216 / 80%);
    border-radius: 15px;
    margin-bottom: 20px;
}

.len-post-thumbnail-blcok {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
}



.len-post-content-block {
    max-width: 70%;
    margin-left: 30px;
    width: 100%;
    padding: 10px 0px 0px 0px;
}

.len-post-title-block {
    padding: 0px 0px 10px 0px;
    font-size: 21px;
    height: 20px;
    overflow: hidden;
}

.len-post-part-block {
    padding: 5px 0px 0px 0px;
    font-size: 14px;
    height: 38px;
    overflow: hidden;
}

.len-like-comments-browse-avatar-name-time-block-min {
    display: flex;
    height: 25px;
    padding: 5px;
    background: #f2f2f2;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: var(--shadow);
    justify-content: space-between;
}

.len-avatar-block-min {
    height: 100%;
}

.avatar-background-block {
    height: 25px;
    border-radius: 100%;
}

.name-text-block {
    padding: 2px 5px;
}

.len-post-statistics-block>div {
    margin: 2px 7px;
}

.len-post-statistics-user,
.len-post-statistics-block {
    display: flex;
    align-items: flex-end;
    font-size: 14px;
}

/*日期css*/
.len-date-sidebar-min.contianer {
    margin-bottom: 10px;
}

.len-calendar {
    width: 100%;
    background-color: white;
    overflow: hidden;
}

.len-calendar {
    box-shadow: var(--shadow);
}

.len-calendar-header {
    background: #9796f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    color: var(--white);
    padding: 10px;
}

.len-calendar-body {
    padding: 10px;
}

.len-calendar-week-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
    cursor: pointer;
    color: rgb(104, 104, 104);
    font-size: 12px;
}

.len-calendar-week-days div:hover {
    color: black;
    transform: scale(1.2);
    transition: all .2s ease-in-out;
}

.len-calendar-week-days div {
    display: grid;
    place-items: center;
    color: var(--bg-second);
    height: 50px;
}

.len-calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    color: var(--color-txt);
}

.len-calendar-days div {
    width: 20px;
    height: 20px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
    animation: to-top 1s forwards;
}

.links-display {
    display: flex;
}

.month-picker {
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.month-picker:hover {
    background-color: var(--color-hover);
}

.month-picker:hover {
    color: var(--color-txt);
}

.year-picker {
    display: flex;
    align-items: center;
}

.year-change {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0px 10px;
    cursor: pointer;
}

.year-change:hover {
    background-color: var(--light-btn);
    transition: all .2s ease-in-out;
    transform: scale(1.12);
}

.year-change:hover pre {
    color: var(--bg-body);
}

.len-calendar-footer {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#year:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: all 0.2 ease-in-out;
}

.len-calendar-days div span {
    position: absolute;
}

.len-calendar-days div:hover {
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
    background-color: #fbc7d4;
    border-radius: 20%;
    color: var(--dark-text);
}

.len-calendar-days div.current-date {
    color: var(--dark-text);
    background-color: var(--light-btn);
    border-radius: 20%;
}

.month-list {
    position: relative;
    left: 0;
    top: -50px;
    color: var(--light-text);
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.month-list>div {
    display: grid;
    place-content: center;
    margin: 5px 3px;
    transition: all 0.2s ease-in-out;
}

.month-list>div>div {
    padding: 10px;
    cursor: pointer;
    font-size: 12px;
}

.month-list>div>div:hover {
    background-color: var(--light-btn);
    color: var(--dark-text);
    transform: scale(0.9);
    transition: all 0.2s ease-in-out;
}

.month-list.show {
    visibility: visible;
    pointer-events: visible;
    transition: 0.6s ease-in-out;
    animation: to-left .71s forwards;
}

.month-list.hideonce {
    visibility: hidden;
}

.month-list.hide {
    animation: to-right 1s forwards;
    visibility: none;
    pointer-events: none;
}

.date-time-formate {
    width: 100%;
    height: 100%;
    font-family: Dubai Light, Century Gothic;
    position: relative;
    display: inline;
    top: 25px;
    justify-content: center;
}

.day-text-formate {
    font-family: Microsoft JhengHei UI;
    font-size: 20px;
    padding-right: 3%;
    border-right: 3px solid #9796f0;
    position: absolute;
    left: 1rem;
}

.date-formate {
    font-size: 12px;
}

.date-time-value {
    display: block;
    width: 100%;
    position: relative;
    left: 12%;
    top: -1px;
    text-align: center;
}

.time-formate {
    font-size: 18px;
}

.time-formate.hideTime {
    animation: hidetime 1.5s forwards;
}

.day-text-formate.hidetime {
    animation: hidetime 1.5s forwards;
}

.date-formate.hideTime {
    animation: hidetime 1.5s forwards;
}

.day-text-formate.showtime {
    animation: showtime 1s forwards;
}

.time-formate.showtime {
    animation: showtime 1s forwards;
}

.date-formate.showtime {
    animation: showtime 1s forwards;
}

.len-thirdparty {
    background: rgb(255, 255, 255);
    border-radius: 4px;

    margin-bottom: 8px;
    padding: 12px 16px;

}

.len-thirdparty-line {
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #f0f0f0;
}

.len-thirdparty-icon {
    height: 20px;
    width: 20px;
    vertical-align: -6px;
}

.user-statistics-right {
    /* position: relative; */
    overflow: hidden;
    padding: 15px 0;
    list-style: none;
}

.user-statistics-article,
.user-statistics-comment,
.user-statistics-like {
    border-right: 1px solid #e5e9ef;
}

.user-statistics-li {
    float: left;
    width: 32%;
    color: #000;
    text-align: center;
    letter-spacing: 1px;
    font-size: 13px;
    font-family: microsoft yahei light;
    line-height: 16px;
}

.user-statistics-span {
    display: block;
}

@keyframes to-top {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    100% {
        transform: translateY(100%);
        opacity: 1;
    }
}

@keyframes to-left {
    0% {
        transform: translatex(230%);
        opacity: 1;
    }

    100% {
        transform: translatex(0);
        opacity: 1;
    }
}

@keyframes to-right {
    10% {
        transform: translatex(0);
        opacity: 1;
    }

    100% {
        transform: translatex(-150%);
        opacity: 1;
    }
}

@keyframes showtime {
    0% {
        transform: translatex(250%);
        opacity: 1;
    }

    100% {
        transform: translatex(0%);
        opacity: 1;
    }
}

@keyframes hidetime {
    0% {
        transform: translatex(0%);
        opacity: 1;
    }

    100% {
        transform: translatex(-370%);
        opacity: 1;
    }
}

@media (max-width:375px) {
    .month-list>div {

        margin: 5px 0px;
    }
}